<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>
<body>
    
    <h1>Preço Fácil</h1>
    <p>Faça a precificação das suas receitasde uma forma simples e rápida!</p>
    <br><br>
    <p>Bem vindo!</p>
    <br><br>
    <h4>Opções:</h4>
    <a href="/precofacil/recipe/all">Receitas</a>
    <a href="/precofacil/ingredient/all">Ingrediente</a>
    <a href="/precofacil/expense/view">Custo Fixo</a>
</body>
</html>