<!DOCTYPE html>
<html lang="pt-BR">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>
<body>
    
    <h1>Preço Fácil</h1>
    <p>Faça a precificação das suas receitasde uma forma simples e rápida!</p>
    <br><br>
    <p>Bem vindo!</p>
    <br><br>
    <h4>Opções:</h4>
    <button href="/springsec/recipes/all">Ingrediente</button>
    <button href="/springsec/ingredients/all">Receitas</button>
    <button href="/springsec/expense/view">Custo Fixo</button>
</body>
</html>