<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custos Fixos</title>
</head>
<body>
    <h1>Preço Fácil</h1>
    <p>Faça a precificação das suas receitasde uma forma simples e rápida!</p>
    <a href="/precofacil/home">Início</a><br><br>
    <form th:object="${ingrediente}" action="#" th:action="@{/precofacil/ingredient/new/add}" method="post">
        <fieldset>
            <div>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" th:field="*{nome}">
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" th:field="*{preco}">
            </div>
            <input type="submit" value="Salvar"/>
        </fieldset>
   </form>
   <p th:text="#{nomeExiste}"></p>
</body>
</html>