<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custos Fixos</title>
</head>
<body>
<style>
	table {
	width: 500px;
	border-collapse: collapse;
	}
	
	td, th {
	border: 1px solid black;
	}
</style>
    <h1>Preço Fácil</h1>
    <p>Faça a precificação das suas receitasde uma forma simples e rápida!</p>
    <a href="/precofacil/home">Início</a><br><br>
    <table>
        <thead>
	       <tr>
				<th>ID</th>
				<th>Salário (mensal)</th>
				<th>Horas trabalhadas por dia</th>
				<th>Valor da Hora trabalhada</th>
				<th>Alterar</th>
			</tr>
			</thead>
			<tbody>
            <tr th:each="custoFixo : ${custoFixo}">
                <td id="id" th:inline="text">[[${custoFixo.id}]] <td/>
                <td id="salario" th:inline="text">[[${custoFixo.salario}]] <td/>
                <td id="horasDia"  th:inline="text">[[${custoFixo.horasDia}]] <td/>
            	<td id="valorHora" th:inline="text">[[${custoFixo.valorHora}]] <td/>
            	<td><a th:href="@{/precofacil/expense/update/{id}(id=${custoFixo.id})}">Editar</a></td>
            </tr>
        </tbody>
   </table>
</body>
</html>